.truck-dash {
    display: flex;
    flex-direction: column;
    width:100vw;
    min-width: 100vw;
    max-width: 100vw;
    background-color: #470a0a;
}
.top-bar {
    display: flex;
    flex-direction: row;
    width: 100vw;
    border-bottom: solid 4px #c4b5a2;
    background-color: #470a0a;
    align-items: center;
    justify-content: center;
}
.follow{
    width: 23vw;
    margin-left: 2vw;
    height: 5vh;
    border-radius: 10px;
    background-color: #c4b5a2;
    color: #470a0a;
    // border: solid;
    box-shadow: #c4b5a2;
}
.info-box {
    display: flex;
    width: 100vw;
    background-color: #c4b5a2;
}
.info-left {
    background-color: #c4b5a2;
    width: 49vw;
    height:auto;
    padding: 2vw;
    margin-left: 1vw;
    // border-radius: 15px;

}
.info-right {
    margin-right: 1vw;
    background-color: #c4b5a2;
    width: 49vw;
    height:auto;
    padding: 2vw;
    margin-left: 1vw;
    a {
        // background: blue;
        max-width:100%;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    // border: solid red;
    
}
.truck-info-display {
    h1{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.8rem;
        background-color: #470a0a;
        color: #c4b5a2;
        height: 7vh;   
        width: 75vw;
        // border-left: solid 2px;
    }
    h2 {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.3rem;
        // background-color: #c4b5a2;
        color: #470a0a;
        height: auto;   
        border-bottom: solid;
    }
    h3 {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1rem;
        font-style: italic;
        // background-color: #470a0a;
        color: #470a0a;
        height: auto; 
        margin-top: 2px;

    }
    
    img {
        width: 100vw;
        max-width: 100vw;
        
    }
}
.event-truck-box {
    display: flex;
    flex-direction: column;
    color: #c4b5a2;
    height: auto;
    background-color: #c4b5a2;
    border: solid #470a0a;
    border-radius: 20px;
    padding: 4vw;
    margin-bottom: 5px;
    margin-top: 5px;
    h4 {
        display: flex;
        justify-content: center;
        align-items: right;
        text-align: left;
        font-size: .8rem;
        // font-style: ;
        // background-color: #470a0a;
        color: #470a0a;
        height: auto; 
        margin-top: 10px;
        border-bottom: none;
    }
    h2 {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.5rem;
        // background-color: #c4b5a2;
        color: #470a0a;
        height: auto;   
        border-bottom: solid;
    }
}
.events {
    h1 {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.8rem;
        background-color: #470a0a;
        color: #c4b5a2;
        height: 7vh;   
        width: 100vw;   
    }
}