@keyframes fadin {
    from { opacity: 0; }
    to   { opacity: 100 }
}

.button-options {
    height: 85vh;
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}
