.event-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    // min-height: 85vh;
    width: 100vw;
    max-height: 84vh;
    overflow: scroll;
    padding-bottom: 2vh;
}
.title {
            background: #470a0a;
            width: 100vw;
            padding-top: 0vh;
            padding-bottom: 1vh;
            font-size: 2rem;
            color: #c4b5a2;
            height: 10vh;
            border-bottom: solid;
        }

.event-box {
    color: black; 
    border-radius: 20px;
    padding: 4vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 1vh;
    width: 85vw;
    background-color: #c4b5a2;
    min-height: 15vh;
    border: solid #470a0a;
    h1 {
        width: 85vw;
        text-align: center;
        font-size: 1.5rem;
        margin-bottom: 5px;
        border-bottom: solid #470a0a;
    }
    h2{
        margin-bottom: 5px;
        color: black;
    }
    h3 {
        width: 85vw;
        text-align: center;
        font-size: 1.25rem;
        // margin-bottom: 5px;
        margin-bottom: 5px;
    }
    h4 {
        width: 85vw;
        margin-bottom: 5px;
        border-bottom: dashed #470a0a;
    }
    .attending {
        background-color: #470a0a;
        color: #c4b5a2;
        min-width: 45vw;
        max-width: 85vw;
        text-align: center;
        font-size: 1.5rem;
        padding: 3px 3px 3px 3px;
        border: solid;
        border-radius: 15px;
    }
}