@import url('https://fonts.googleapis.com/css?family=Squada+One&display=swap');


@keyframes slideInFromLeft {
    0% {
      transform: height
    }
    100% {
      transform: height;
    }
  }
.header-top {
    background: #c4b5a2;
    height: 15vh;
    color: #470a0a;
    font-size: 2rem;
    margin: 0;
    display: flex;
    align-items: center;
    padding: 5px;
    border-bottom: solid 4px; 
    h1 {
      font-family: 'Squada One', cursive;
      font-weight: 500;
      font-size: 2.6rem;
      width: 50vw;
    }
    img {
        width: 23vw;
    }
    i {
        display: flex;
        width: 25vw;
        align-items: center;
        justify-content: center;
        font-size: 4rem;
    }
}
.header-top {
  img {
    cursor: pointer;
  }
}
.menu-list-true {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height:30vh;
    color:#c4b5a2;
    background: #470a0a;
    position: absolute;     
    transition: height .25s ease-out; 
    z-index: 1; 
  }
  .menu-list-false {
    transition: height .25s ease-out;  
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    height:0vh;
    color:#c4b5a2;
    background: #470a0a;
    position: absolute;
    z-index: 1;
    // transform: translateY(0);
  
    
}
.menu-item {
  overflow: hidden;
    transition: all .2s ease;
    // color: #470a0a;
    height: 12vh;
    width:100vw;
    border-bottom: solid 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 2rem;
}
.menu-item:hover {
  color: #470a0a;
  background: #c4b5a2;
}
