.login {
    height: 85vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    // background-color: #c4b5a2;
}

.login-container {
    height: 70vh;
    width: 80vw;
    display: flex;
    border-radius: 15px;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    background-color: #c4b5a2;
    box-shadow: 0px 0px 20px 0px #1b0303;
    outline: none;
    // border: solid green;
}
.login-container > input {
    padding: 7px;
}

.login-buttons {
    width: 90vw;
    display: flex;
    justify-content: space-evenly;
    // border: solid red;
}