.register-options {
    height: 85vh;
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    // background-color: #c4b5a2;
}
.options-container {
    color: #470a0a;
    height: 55vh;
    border-radius: 30px;
    border: solid;
    width: 80vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    background-color: #c4b5a2;
    box-shadow: 0px 0px 20px 0px #1b0303;
}