.truck-register {
    height: 85vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    padding-top: 6vh;
}
.container-box {
    height: 70vh;
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #c4b5a2;
}